<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI6QzN4vCpuMzJmbz9Hgl-yRZ2cMFCTGA</string>
	<key>GCM_SENDER_ID</key>
	<string>749989687580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaoni.shaoni</string>
	<key>PROJECT_ID</key>
	<string>shaoni-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shaoni-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749989687580:ios:a1fee2bcfc5fd29a728ad9</string>
</dict>
</plist>